{% extends "FGNewsBundle:Default:index.html.twig" %}
{% block Master_body %}
    {% for flashMessage in app.session.flashbag.get('info') %}
              <div>{{flashMessage}}</div>
         {% endfor %}
	{% block index_news_title %}<h1>Liste des {{limite}} dernières news Chronocarpe</h1>{% endblock %}	
{{include ('FGNewsBundle:Default:viewListe.html.twig') }}
{% endblock %}
