 <h3>Gestion des Newsletters</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href= "{{path('fg_news_add')}}">Ajout d'une news</a></li>
          <li><a href="{{path('fg_news_futur')}}">Liste des News</a></li>
</ul>